/MainBase/.vs
/MainBase/__vm
/MainBase/Debug
/MainBase/MainBase.vcxproj
/MainBase/MainBase.vcxproj.filters
/ProteusGreenhouseDUE_Base/DOC/Назначение выводов DUE.xls
/ProteusGreenhouseDUE_Base_02/ProteusGreenhouseDUE_Base_02.pdsprj.DECIMA.moseichuk.workspace
/ProteusGreenhouseDUE_Base/ProteusGreenhouseDUE_Base_1.pdsprj.DECIMA.moseichuk.workspace
/ProteusGreenhouseDUE_Base_02/ProteusGreenhouseDUE_Base_02test.DO
/ProteusGreenhouseDUE_Base_02/ProteusGreenhouseDUE_Base_02test.EDF
/ProteusGreenhouseDUE_Base_02/ProteusGreenhouseDUE_Base_02test.log
/ProteusGreenhouseDUE_Base_02/ProteusGreenhouseDUE_Base_02test.pdsprj
/ProteusGreenhouseDUE_Base_02/ProteusGreenhouseDUE_Base_02test.pdsprj.DECIMA.moseichuk.workspace
/ProteusGreenhouseDUE_Base_02/ProteusGreenhouseDUE_Base_02test.sts
/ProteusGreenhouseDUE_Base_02/Backup Of ProteusGreenhouseDUE_Base_02test.pdsbak
/MainBaseDemo/MainBaseDemo.sln
/MainBaseDemo/MainBaseDemo.vcxproj
/MainBaseDemo/MainBaseDemo.vcxproj.filters
/MainBaseDemo/.vs
/MainBaseDemo/__vm
/MainBaseDemo/Debug
