/MainBase/.vs
/MainBase/__vm
/MainBase/Debug
/MainBase/MainBase.vcxproj
/MainBase/MainBase.vcxproj.filters
/ProteusGreenhouseDUE_Base/DOC/Назначение выводов DUE.xls
/ProteusGreenhouseDUE_Base_02/ProteusGreenhouseDUE_Base_02.pdsprj.DECIMA.moseichuk.workspace
/ProteusGreenhouseDUE_Base/ProteusGreenhouseDUE_Base_1.pdsprj.DECIMA.moseichuk.workspace
/ProteusGreenhouseDUE_Base_02/ProteusGreenhouseDUE_Base_02test.DO
/ProteusGreenhouseDUE_Base_02/ProteusGreenhouseDUE_Base_02test.EDF
/ProteusGreenhouseDUE_Base_02/ProteusGreenhouseDUE_Base_02test.log
/ProteusGreenhouseDUE_Base_02/ProteusGreenhouseDUE_Base_02test.pdsprj
/ProteusGreenhouseDUE_Base_02/ProteusGreenhouseDUE_Base_02test.pdsprj.DECIMA.moseichuk.workspace
/ProteusGreenhouseDUE_Base_02/ProteusGreenhouseDUE_Base_02test.sts
/ProteusGreenhouseDUE_Base_02/Backup Of ProteusGreenhouseDUE_Base_02test.pdsbak
/MainBaseDemo/MainBaseDemo.sln
/MainBaseDemo/MainBaseDemo.vcxproj
/MainBaseDemo/MainBaseDemo.vcxproj.filters
/MainBaseDemo/.vs
/MainBaseDemo/__vm
/MainBaseDemo/Debug
/Proteus TeplicaMotor/TeplicaMotor1 - CADCAM Bottom Copper.TXT
/Proteus TeplicaMotor/TeplicaMotor1 - CADCAM Bottom Solder Resist.TXT
/Proteus TeplicaMotor/TeplicaMotor1 - CADCAM Drill.TXT
/Proteus TeplicaMotor/TeplicaMotor1 - CADCAM Mechanical 1.TXT
/Proteus TeplicaMotor/TeplicaMotor1 - CADCAM READ-ME.TXT
/Proteus TeplicaMotor/TeplicaMotor1 - CADCAM Top Copper.TXT
/Proteus TeplicaMotor/TeplicaMotor1 - CADCAM Top Silk Screen.TXT
/Proteus TeplicaMotor/TeplicaMotor1 - CADCAM Top SMT Paste Mask.TXT
/Proteus TeplicaMotor/TeplicaMotor1 - CADCAM Top Solder Resist.TXT
/Proteus TeplicaMotor/TeplicaMotor1.pdsprj.DECIMA.moseichuk.workspace
/Proteus TeplicaMotor/TeplicaMotor1.pdsprj.RADIO.Alex.workspace
/Proteus TeplicaMotor/TeplicaMotor1.pdsprj.RADIO.Александр.workspace
/Proteus TeplicaMotor/TeplicaMotor1.pdsprj.SUPER.Александр.workspace
/Proteus TeplicaMotor/TeplicaMotor2.pdsprj.DECIMA.moseichuk.workspace
/Proteus TeplicaMotor/TeplicaMotor2.pdsprj.SUPER.Александр.workspace
/Proteus TeplicaMotor/TeplicaMotor2_a.pdsprj.DECIMA.moseichuk.workspace
/UTFT_Analog_ClockTemp/UTFT_Analog_ClockTemp.sdf
/UTFT_Analog_ClockTemp/UTFT_Analog_ClockTemp.sln
/UTFT_Analog_ClockTemp/UTFT_Analog_ClockTemp.sln.docstates.suo
/UTFT_Analog_ClockTemp/UTFT_Analog_ClockTemp.suo
/UTFT_Analog_ClockTemp/UTFT_Analog_ClockTemp.vcxproj
/UTFT_Analog_ClockTemp/UTFT_Analog_ClockTemp.vcxproj.filters
/UTFT_Analog_ClockTemp/.vs
/UTFT_Analog_ClockTemp/__vm
/UTFT_Analog_ClockTemp/Debug
/Main_Mos2_3/DS3231Support.cpp
/Main_Mos2_3/DS3231Support.h
/ProteusGreenhouseDUE_Base/ProteusGreenhouseDUE_Base_3_1.pdsprj.DECIMA.moseichuk.workspace
/UTFT_Analog_ClockTempDS3231_1/.vs
/UTFT_Analog_ClockTempDS3231_1/__vm
/UTFT_Analog_ClockTempDS3231_1/Debug
/UTFT_Analog_ClockTempDS3231_1/UTFT_Analog_ClockTempDS3231_1.sln
/UTFT_Analog_ClockTempDS3231_1/UTFT_Analog_ClockTempDS3231_1.vcxproj
/UTFT_Analog_ClockTempDS3231_1/UTFT_Analog_ClockTempDS3231_1.vcxproj.filters
/Main_Akulov_06_04
/Main_Akulov
/MainBase
/MainBase_23_04
/MainBaseDemo
/MainBaseRTS_In
/MainBaseSDA1
/Main_Mos2_3
/Main_Mos2_4
/ProteusGreenhouseDUE_Base/Last Loaded ProteusGreenhouseDUE_Base_1.pdsbak
/ProteusGreenhouseDUE_Base/Last Loaded ProteusGreenhouseDUE_Base_1_R.pdsbak
/ProteusGreenhouseDUE_Base/Last Loaded ProteusGreenhouseDUE_Base_1_R2.pdsbak
/ProteusGreenhouseDUE_Base/Last Loaded ProteusGreenhouseDUE_Base_2.pdsbak
/ProteusGreenhouseDUE_Base/Last Loaded ProteusGreenhouseDUE_Base_3_1.pdsbak
/ProteusGreenhouseDUE_Base/ProteusGreenhouseDUE_Base_1.pdsprj.SUPER.Александр.workspace
/ProteusGreenhouseDUE_Base/ProteusGreenhouseDUE_Base_1_R.pdsprj.DECIMA.moseichuk.workspace
/ProteusGreenhouseDUE_Base/ProteusGreenhouseDUE_Base_1_R.pdsprj.SUPER.Александр.workspace
/ProteusGreenhouseDUE_Base/ProteusGreenhouseDUE_Base_2.pdsprj.DECIMA.moseichuk.workspace
/ProteusGreenhouseDUE_Base/ProteusGreenhouseDUE_Base_2.pdsprj.SUPER.Александр.workspace
/ProteusGreenhouseDUE_Base/ProteusGreenhouseDUE_Base_3_1.pdsprj.SUPER.Александр.workspace
/ProteusGreenhouseDUE_Base/ProteusGreenhouseDUE_Base_3R.pdsprj.DECIMA.moseichuk.workspace
/ProteusGreenhouseDUE_Base/ProteusGreenhouseDUE_Base_3R.pdsprj.SUPER.Александр.workspace
/ProteusGreenhouseDUE_Base/ProteusGreenhouseDUE_Base_3_1.DO
/ProteusGreenhouseDUE_Base/ProteusGreenhouseDUE_Base_3_1.EDF
/ProteusGreenhouseDUE_Base/ProteusGreenhouseDUE_Base_3_1.log
/ProteusGreenhouseDUE_Base/ProteusGreenhouseDUE_Base_3_1.pdsprj
/ProteusGreenhouseDUE_Base/ProteusGreenhouseDUE_Base_3_1.sts
/ProteusGreenhouseDUE_Base/ProteusGreenhouseDUE_Base_3R.pdsprj
/ProteusGreenhouseDUE_Base/ProteusGreenhouseDUE_Base_3.pdsprj
/ProteusGreenhouseDUE_Base/ProteusGreenhouseDUE_Base_3.pdsprj.SUPER.Александр.workspace
/ProteusGreenhouseDUE_Base/ProteusGreenhouseDUE_Base_3_0.DO
/ProteusGreenhouseDUE_Base/ProteusGreenhouseDUE_Base_3_0.EDF
/ProteusGreenhouseDUE_Base/ProteusGreenhouseDUE_Base_3_0.log
/ProteusGreenhouseDUE_Base/ProteusGreenhouseDUE_Base_3_0.pdsprj
/ProteusGreenhouseDUE_Base/ProteusGreenhouseDUE_Base_3_0.pdsprj.SUPER.Александр.workspace
/ProteusGreenhouseDUE_Base/ProteusGreenhouseDUE_Base_3_0.sts
/ProteusGreenhouseDUE_Base/Backup Of ProteusGreenhouseDUE_Base_1.pdsbak
/ProteusGreenhouseDUE_Base/Backup Of ProteusGreenhouseDUE_Base_1_R.pdsbak
/ProteusGreenhouseDUE_Base/Backup Of ProteusGreenhouseDUE_Base_1_R2.pdsbak
/ProteusGreenhouseDUE_Base/Backup Of ProteusGreenhouseDUE_Base_2.pdsbak
/ProteusGreenhouseDUE_Base/Backup Of ProteusGreenhouseDUE_Base_3.pdsbak
/ProteusGreenhouseDUE_Base/Backup Of ProteusGreenhouseDUE_Base_3_0.pdsbak
/ProteusGreenhouseDUE_Base/Backup Of ProteusGreenhouseDUE_Base_3_1.pdsbak
/ProteusGreenhouseDUE_Base/Backup Of ProteusGreenhouseDUE_Base_3R.pdsbak
/Main_Akulov_06_05/__vm
/Main_Akulov_06_05/Release
/Main_Akulov_06_05/Main_Akulov_06_05.vcxproj
/Main_Akulov_06_05/Main_Akulov_06_05.vcxproj.filters
/ProteusGreenhouseDUE_Base/ProteusGreenhouseDUE_Base_1_R.PDF
/Main_Mos_06_24/.vs
/Main_Mos_06_24/__vm
/Main_Mos_06_24/Release
/Main_Mos_06_24/Main_Mos_06_24.sln
/Main_Mos_06_24/Main_Mos_06_24.vcxproj
/Main_Mos_06_24/Main_Mos_06_24.vcxproj.filters
/ProteusGreenhouseDUE_Base_02/NE555.pdf
/ProteusGreenhouseDUE_Base_02/Last Loaded ProteusGreenhouseDUE_Base_02.pdsbak
/ProteusGreenhouseDUE_Base_02/ProteusGreenhouseDUE_Base_02.pdsprj
/ProteusGreenhouseDUE_Base_02/ProteusGreenhouseDUE_Base_02.pdsprj.SUPER.Александр.workspace
/ProteusGreenhouseDUE_Base_02/Backup Of ProteusGreenhouseDUE_Base_02.pdsbak
/ProteusGreenhouseDUE_Base_02/Backup Of ProteusGreenhouseDUE_Base_02T.pdsbak
/Main_DUE_Maxi_02/hardware
/Main_Mos_06_24
/Main_DUE_Maxi
/Main_DUE_Maxi_01
/Main_DUE_Maxi_02
/Main_DUE_Maxi_03
